# Wget
winamd=https://eternallybored.org/misc/wget/releases/wget-1.21.4-win64.exe
winintel=https://eternallybored.org/misc/wget/releases/wget-1.21.4-win32.exe
macarm=https://ftp.gnu.org/gnu/wget/wget-latest.tar.gz
macintel=https://ftp.gnu.org/gnu/wget/wget-latest.tar.gz
linuxarm=https://raw.githubusercontent.com/cfmsm/Polymall/main/downloads/files/wget/wget-1.5.3.tar.gz
winDir=
macDir=/usr/local/bin
nuxDir=/usr/local/bin
extract
